In [2]:
"""

DATA ENGINEERING ETL PIPELINE - INTRASTAT

Aim:
Write a production ready ETL pipeline using python and pandas.

Overview:
Intrastat is a system that collect information relating to the trade of goods. 

Task:

Below outlines the steps to be performed:
    
    1) Import the necessary libraries and functions for our project.
    2) Disable security certification checks for client-server connections.
    2) Create variables to define the url that will be requested. 
    3) Fetch 2022 intrastat commodity codes data from cbs.nl url. 
    4) Parse the url content into a pandas dataframe.
    5) Apply cleansing and transformation using pandas libray functions.
    6) Export the content as a csv file. 

    
"""

'\n\nDATA ENGINEERING ETL PIPELINE - INTRASTAT\n\nAim:\nWrite a production ready ETL pipeline using python and pandas.\n\nOverview:\nIntrastat is a system that collect information relating to the trade of goods. \n\nTask:\n\nBelow outlines the steps to be performed:\n    \n    1) Import the necessary libraries and functions for our project.\n    2) Disable security certification checks for client-server connections.\n    2) Create variables to define the url that will be requested. \n    3) Fetch 2022 intrastat commodity codes data from cbs.nl url. \n    4) Parse the url content into a pandas dataframe.\n    5) Apply cleansing and transformation using pandas libray functions.\n    6) Export the content as a csv file. \n\n    \n'

In [3]:
import pandas as pd #Data analysis package.
import ssl #Secure sockets layer package.
import urllib #Url handling module.

In [4]:
#Disable security certificate checks for url requests.
ssl._create_default_https_context = ssl._create_unverified_context

#Request content from from url.
url = 'https://www.cbs.nl/-/media/cbsvooruwbedrijf/international-trade-in-goods/commoditycodes_2022.xlsx'
urllib.request.urlopen(url)

In [5]:
#Read data into pandas dataframe.
df = pd.read_excel(url)

In [56]:
#Copy CN codes from column index [0] into new 'CN8' column. Pad left 'CN8' values.  
df['CN8'] = df.iloc[:,[0]].astype(str) 
df['CN8'] = df['CN8'].str.zfill(8) 
df

,CN2022,Symbol,Description,CN8
0,1012100,p/st,Pure-bred breeding horses,01012100
1,1012910,p/st,Horses for slaughter,01012910
2,1012990,p/st,"Live horses (excl. for slaughter, pure-bred fo...",01012990
3,1013000,p/st,Live asses,01013000
4,1019000,p/st,Live mules and hinnies,01019000
...,...,...,...,...
9731,97052900,-,Collections and collectors? pieces of zoologic...,97052900
9732,97053100,-,Collections and collectors? pieces of numismat...,97053100
9733,97053900,-,Collections and collectors? pieces of numismat...,97053900
9734,97061000,-,"Antiques, over 250 years old",97061000
9735,97069000,-,"Antiques, over 100 but at most 250 years old",97069000

In [60]:
df.to_csv('CN8 Codes.csv', encoding='utf-8', index=False)